[package]
name = "stellar-contract-utils"
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
publish = true
description = "Utilities for Stellar contracts."

[features]
default = ["crypto", "math", "merkle-distributor", "pausable", "upgradeable"]
crypto = []
math = []
merkle-distributor = ["crypto"]
pausable = []
upgradeable = []

[lib]
crate-type = ["lib", "cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
proptest = { workspace = true }
hex-literal = { workspace = true }
stellar-event-assertion = { workspace = true }
