[package]
name = "stellar-governance"
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
publish = true
description = "Governance Utilities for Stellar contracts."

[features]
default = ["timelock"]
timelock = []

[lib]
crate-type = ["lib", "cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
