name: Certora verification

on: pull_request

env:
  CONFIGS: |
    allowlist.conf
    blocklist.conf
    burnable.conf
    capped.conf
    claim_topics_and_issuers.conf
    compliance_integrity.conf
    consecutive.conf
    doc_manager.conf
    fungible_integrity.conf
    fungible_invariants.conf
    fungible_panics.conf
    identity_claims.conf
    identity_registry_storage.conf
    identity_verifier_integrity.conf
    non_fungible_burnable.conf
    non_fungible_integrity.conf
    non_fungible_invariants.conf
    non_fungible_non_panics.conf
    non_fungible_panics.conf
    royalties.conf
    rwa_integrity.conf
    rwa_panics.conf
    token_binder_integrity.conf
    vault_conversions.conf
    vault_integrity.conf

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install soroban
        run: |
          cargo update -p cvlr-soroban
          rustup target add wasm32-unknown-unknown
      - name: run configs
        uses: Certora/certora-run-action@v2
        with:
          ecosystem: soroban
          configurations: ${{ env.CONFIGS }}
          job-name: "Verified Soroban Rules"
          certora-key: ${{ secrets.CERTORAKEY }}
          working-directory: packages/tokens/confs
          cli-release: stable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
