name: Certora verification

on: pull_request

env:
  CONFIGS: |
    fungible_integrity.conf
    fungible_invariants.conf
    fungible_non_panics.conf
    fungible_panics.conf
    fungible_sanity.conf
    allowlist.conf
    blocklist.conf
    burnable.conf
    burnable_nft_sanity.conf
    capped.conf
    consecutive_nft_sanity.conf
    enumerable_nft_sanity.conf
    royalties_nft_sanity.conf
    vault_sanity.conf

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install soroban
        run: |
          cargo update -p cvlr-soroban
          rustup target add wasm32-unknown-unknown
      - name: run configs
        uses: Certora/certora-run-action@9596198c77a3f33d22c59226ff7757185a504f8f
        with:
          ecosystem: soroban
          configurations: ${{ env.CONFIGS }}
          job-name: "Verified Soroban Rules"
          certora-key: ${{ secrets.CERTORAKEY }}
          working-directory: packages/tokens/confs
          cli-release: stable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
